/*
 * Referenced: https://youtu.be/nCJtL_-kDGU?si=fCOxMiuU5Fs1oD71
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*root variables*/
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of the icon: sun & moon */
  --size-of-icon: 1.4em;
  /* inline padding for switch */
  --slider-offset: 0.3em;
}

body {
  width: 100vw;  /* vw: viewport width */
  height: 100vh; /* vh: viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch input {
  /* targetting the input of the switch */
  /* hide the default look of the checkbox */
  width: 0;
  height: 0 ;
  opacity: 0;
}

.switch {
  /* write the style for the main switch */
  display: block;
  position: relative;

  /* switch width -- we need to use the var */
  /* function to keep the elements in the root*/
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.slider {
  /* the background layer */
  position: absolute;
  cursor: pointer; /* what does this mean */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f5;
  transition: 0.4s; /* what does this mean */
  border-radius: 30px;
}

.slider::before { /* this is the light mode (sun) */
  /* slider is inside the switch */
  /* ie the switch is the parent of slider */
  /* so it's position is absolute to the switch */
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  /* if input is checked, make changes to the slider */

  /* this changes the background color of the whole toggle switch */
  background: #303136;
}

input:checked + .slider::before {
  /* the ::before is targetting the pseudo element */

  /* we can't move from left to right instantly 100%,
   * so we need to claculate the icon size, inner
   * padding size, so that we can move it smoothly
   */
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  /* todo- write note */

  background: #303136;

  /* change the value of the second inset in the boxshadow
   * to change the angle and direction of the moon */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafd;
  /* inset -3px bc we r targetting the 2nd inset, not 1st*/
}